.oswald-large-text {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.rubik-small-text {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

html {
    font-family: "Rubik";
    --head-border-gradient: linear-gradient(0.3turn, #295F98, #CDC2A5);
}
table {
    border-collapse: collapse;
    letter-spacing: 1px;
    font-size: 0.8rem;
}
h1 {
    font-family: "Oswald";
    margin-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
td, th {
    border: 1px solid #CDC2A5;
    padding: 10px 20px;
}
th {
    font-weight: 500;
}
td {
    text-align: center;
}
tr:nth-child(even) td {
    background-color: #EAE4DD;
}
tr:nth-child(odd) td {
    background-color: #E1D7C6;
}
caption {
    padding: 10px;
    caption-side: bottom;
}

/*Custom CSS Starts Here*/
html {
    background: linear-gradient(0.3turn, #295F98, #CDC2A5);
}

th.stats {
    background: linear-gradient(0.3turn, #295F98, #E1D7C6);
}
th.stats.light {
    background: linear-gradient(0.3turn, #295F98, #EAE4DD);
}
td:hover {
    border-color: #295F98;
    font-weight: 500;
    opacity: 70%;
}

/*Header CSS*/
#header {
    border-bottom: 2px solid #295F98;
    margin: 0px -8px;
    margin-top: -8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links {
    text-decoration: none;
    color: #CDC2A5;
    padding: 0.7rem 0.4rem;
    background-color: #295f9833;
    border-radius: 5px;
    font-size: 1rem;
}
#link-box {
    display: flex;
    gap: 1.4rem;
    margin-right: 18px;
}
